<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feedback</title>
</head>
<body>
    {% if user_feedback %}
        <h1>User Feedback</h1>
        {% for user, feedback in user_feedback.items() %}
            <h2>{{user}} Says:</h2>
            <p>{{feedback}}</p>
        {% endfor %}
    {% else %}
        <h1>No User Feedback to Show...</h1>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>