<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Form</title>
</head>
<body>
    {% if name %}
        <h1> Whats up, {{name}}! Welcome to my first Flask App!</h1>
        <h2>Would you like to give some feedback?</h2>
        <a href="/{{name}}/feedback_form">Feedback Form</a>
    {% else %}
        <h1>Hey there! Could I get your name?</h1>
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Enter your name"/> 
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>
</html>